/*resources/scss/app.scss*/
// @import "~bootstrap/scss/bootstrap";

// RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: seagreen;
}

.container {
    padding: 50px 100px;

    .movie-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        .card {
            background-color: yellow;
            width: 500px;
            height: 500px;
            border: 3px solid;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                font-size: 50px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }
}
